*{margin:0;padding: 0;}
body{
	max-width: 1440px;
	
}

header {
	background-image: url("http://www.hdfondos.eu/preview/get_photo/63734/1920/1200");
    background-position: center center;
    background-size: cover; 
	width:1024px;
	height: 720px; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden;

	
  }
  

.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo {
	
	line-height:100px;
	float:left;
}
header .slogan{
	
	position: absolute;
	padding:80px;
	top:90px;
	right: 10px;
	font-size: 45px;
	font-family: 'Lato';
	line-height: 60px;
	color: #FFFFFF;
	text-shadow: 0 2px 19px 0 rgba(0,0,0,0.5);
	text-align: center;
	
}
 
header nav {
	float:right;
	line-height:100px;
}
 
header nav a{
	display:inline-block;
	color: #FFFFFF;
	text-decoration:none;
	padding:10px 20px;
	line-height:56px;
	font-family: 'Lato';
	font-size:15px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	opacity: 0.2;
	background:#DCDCDC;
	border-radius:50px;
}
p.hacer{
	
	position: relative;
	top:20px;
	font-size: 40px;
	font-family: 'Lato',sans-serif;
	text-align: center;
	color: #2D4B87;


}
p.emprende{

	text-align: center;
	position: relative;
	top:80px;
	font-size: 25px;
	font-family: 'Lato',sans-serif;
	color: #272727;

}
.imagenes{
	position: relative;
	top: 200px;
	height:400px;
	font-family: "Helvetica Neue";
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	line-height: 24px;
	color: #616161;

}

p.curso{
	
	font-family: "Lato";
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	line-height: 48px;
	color: #2D4B87;
}
/*Inicio carrusel*/

/*Fin carrusel*/
/*Mapita*/
.mapa{
	position: relative;
	top: 60px;
	
	
}

p.cursa{
	font-size: 20px;
}
#curso,#asesoria,#evento,#visita{
font-size: 25px;
font-weight:600;
font-family: "Helvetica Neue";
text-align: center;
line-height: 31px;
letter-spacing: 1px;
color: #636363;

}
